<p id="notice"><%= notice %></p>

<p>
  <strong>Province:</strong>
  <%= @customer.province_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
