<% content_for :top_menu do %> 
  <li>
    <%= link_to 'About', abouts_path %>
  </li>
  <li>
    <%= link_to 'Women', women_product_path %>
  </li>
  <li>
    <%= link_to 'Men', men_product_path %>
  </li>
  <li>
    <%= link_to 'Kids', kids_product_path %>
  </li>
  <li class="active">
    <%= link_to 'Contact', contacts_path %>
  </li>
<% end %> 

<% content_for :top_category_description do %> 
  <%= render partial: "top_description", locals: { category: 'Contact', 
                           description: 'Keep in touch with us!' }%>
 <% end %> 

 <div class="col-md-8">
    <!-- Embedded Google Map -->
    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=49.897547,-97.139276&amp;spn=56.506174,79.013672&amp;t=m&amp;z=17&amp;output=embed"></iframe>
</div>
<!-- Contact Details Column -->
<div class="col-md-4">
    <h3>Contact Details</h3>
    <p>
        <%= @contact.Address %><br>
    </p>
    <p><i class="fa fa-phone"></i> 
        <abbr title="Phone">P</abbr>: <%= @contact.phone %></p>
    <p><i class="fa fa-envelope-o"></i> 
        <abbr title="Email">E</abbr>: <a href="mailto:name@example.com"><%= @contact.email %></a>
    </p>
    <p><i class="fa fa-clock-o"></i> 
        <abbr title="Hours">H</abbr>: <%= @contact.working_time %></p>
    <ul class="list-unstyled list-inline list-social-icons">
        <li>
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <!-- <li>
            <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </li> -->
        <li>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </li>
    </ul>
</div>