<% content_for :top_menu do %> 
  <li>
    <%= link_to 'About', abouts_path %>
  </li>
  <li>
    <%= link_to 'Women', women_product_path %>
  </li>
  <li>
    <%= link_to 'Men', men_product_path %>
  </li>
  <li>
    <%= link_to 'Kids', kids_product_path %>
  </li>
  <li>
    <%= link_to 'Contact', contacts_path %>
  </li>
<% end %> 

<% content_for :top_category_description do %> 
  <%= render partial: "top_description", locals: { category: 'Order', 
                           description: "Thank you for shopping with us" }%>
 <% end %> 
 <div class="col-lg-12">
  <p id="order_finished">Congratulations you are done! Your order number is <span>#<%= @order.id%>-<%=@number%>-<%=@number1%></span>. Sooner you will be dressing your new shoes!</p>
 </div>

