<% content_for :top_menu do %> 
  <li>
    <%= link_to 'About', abouts_path %>
  </li>
  <li>
    <%= link_to 'Women', women_product_path %>
  </li>
  <li>
    <%= link_to 'Men', men_product_path %>
  </li>
  <li>
    <%= link_to 'Kids', kids_product_path %>
  </li>
  <li>
    <%= link_to 'Contact', contacts_path %>
  </li>
<% end %> 

<% content_for :top_category_description do %> 
  <%= render partial: "top_description", locals: { category: 'Cart', 
                           description: 'Just a few more steps and you are done!' }%>
 <% end %> 

<% @cart_products.each do |product|%>
  <div class="col-md-4 text-center">
    <div class="thumbnail">
      <%=link_to product do%>
        <%=image_tag product.image, class: "img-responsive"%>
      <%end%>
    
      <p> <%= product.name %> </p>
      <h4><%= number_to_currency(product.price) %></h4>
      <p>
        <%= form_tag update_qty_cart_path(product), method: 'get' do%>
          <%=text_field_tag :quantity, $redis.hget("cart#{current_user.id}", product.id), :placeholder => '', :size => 2 %>
          <%= submit_tag "Update"%>
        <%end%>
      </p>
      <p>
        <%=link_to "Remove from Cart", remove_from_cart_path(product)%>
      </p>
    </div>
  </div>
<%end%>

<div class="col-lg-12">
  <%=link_to (button_tag "Checkout", { class: "btn btn-primary" }), checkout_path%>
</div>
