<% content_for :top_menu do %> 
  <li class="active">
    <%= link_to 'About', abouts_path %>
  </li>
  <li>
    <%= link_to 'Women', women_product_path %>
  </li>
  <li>
    <%= link_to 'Men', men_product_path %>
  </li>
  <li>
    <%= link_to 'Kids', kids_product_path %>
  </li>
  <li>
    <%= link_to 'Contact', contacts_path %>
  </li>
<% end %> 

<% content_for :top_category_description do %> 
  <%= render partial: "top_description", locals: { category: 'About', 
                           description: 'What makes our product so unique?' }%>
 <% end %> 


<div class="col-md-6">
    <img class="img-responsive" src="images/about.jpg" alt="">
</div>

 <div class="col-md-6">
    <h2><%=@about.title%></h2>
    <p id="about_content"><%=@about.content%></p>
</div>