  <div class="col-lg-12">
	<h1 class="page-header"><%= category %>
	    <small><%= description %></small>
	</h1>
	<ol class="breadcrumb">
	    <li><a href="index.html">Home</a>
	    </li>
	    <li class="active"><%= category %></li>
	    <li class="search">
	    	  <%if category == "All" %>
	    	  	<%= form_tag search_results_path, method: 'get' do%>
				  <%=text_field_tag :search_keywords, nil, :placeholder => 'Enter search term...', :size => 10 %>
				  <%= submit_tag "Search"%>
			  	<%end%>
		  	  <%end%>
		  	  <%if category == "Women"%>
			  	<%= form_tag search_results_women_path, method: 'get' do%>
				  <%=text_field_tag :search_keywords, nil, :placeholder => 'Enter search term...', :size => 10 %>
				  <%= submit_tag "Search"%>
			  	<%end%>
			  <% end%>
			  <%if category == "Men"%>
			  	<%= form_tag search_results_men_path, method: 'get' do%>
				  <%=text_field_tag :search_keywords, nil, :placeholder => 'Enter search term...', :size => 10 %>
				  <%= submit_tag "Search"%>
			  	<%end%>
			  <%end%>
			  <%if category == "Kids"%>
			  	<%= form_tag search_results_kids_path, method: 'get' do%>
				  <%=text_field_tag :search_keywords, nil, :placeholder => 'Enter search term...', :size => 10 %>
				  <%= submit_tag "Search"%>
			  	<%end%>
			  <%end%>
	    </li>
	</ol>
  </div>