  <div class="col-lg-12">
	<h1 class="page-header"><%= category %>
	    <small><%= description %></small>
	</h1>
	<ol class="breadcrumb">
	    <li><a href="index.html">Home</a>
	    </li>
	    <li class="active"><%= category %></li>
	    <li class="search">
	    	<%= form_tag search_results_path, method: 'get' do%>
	    	  <%if category == "All" %>
			  <%=text_field_tag :search_keywords, nil, :placeholder => 'Enter search term...', :size => 10 %>
			  <%= submit_tag "Search"%>
			  <% end%>
			<% end%>
	    </li>
	</ol>
  </div>