<% content_for :top_menu do %> 
  <li>
    <a href="about.html">About</a>
  </li>
  <li class="active">
    <%= link_to 'Women', women_product_path %>
  </li>
  <li>
    <%= link_to 'Men', men_product_path %>
  </li>
  <li>
    <%= link_to 'Kids', kids_product_path %>
  </li>
  <li>
    <a href="contact.html">Contact</a>
  </li>
<% end %> 

<% content_for :top_category_description do %> 
  <%= render partial: "top_description", locals: { category: 'Women', 
                           description: "For all different women's styles" }%>
 <% end %> 

<%= render @products %>